---
layout: home
---
<div class="user-details" style="align-items:center; justify-content:center;">
<img src="./about/logo.png" alt="The Logo of Toast Lab" height="60" style="float:top;margin-top:75px;margin-bottom:0px"/>
<p style="text-align:justify; margin-top:0px;">The Toast Lab is to be launched in Feburary 2020. In Toast Lab, we would do focused research on computer systems and architectures. </p>
</div>

<div class="permlinks">
<h2>Recent Posts</h2>
<dl>
	{% for post in site.posts limit:3 %}
	<dt><code>{{ post.date | date_to_string }} </code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="{{ post.url }}">{{ post.title }}</a> &nbsp;{% include status-indicator.html status=post.status%}
	{% if post.description %}
 <dd style="text-align: justify">{{ post.description | markdownify }}
    </dd>
	{% endif %}
	{% endfor %}
	<p>... <a href="/blog">Full Posts List</a> </p>
</dl>
<!--
<h2>Upcoming Posts (edit me at /index.html )</h2>
<ul>
	<li>Post 1</li>
	<li>Post 2</li>
</ul>
-->

</div >
