---
layout: home
---
<div class="user-details" style="align-items:center; justify-content:center;">
<img src="./about/logo.png" href="https://toast-lab.github.io/about/" alt="The Logo of Toast Lab" height="60" style="float:top;margin-top:75px;margin-bottom:0px" />
<p style="text-align:justify; margin-top:0px;">Welcome to the Toast Lab in ShanghaiTech University. In the Lab, we focus on designing and optimizing computer systems. More details about the Lab can be found <a href="https://toast-lab.github.io/about">here</a>. A mirror website, i.e., <a href="https://Chundong.Wang" target="_blank">https://toast-lab.sist.shanghaitech.edu.cn</a>, has been set up for the Lab.</p>

<p style="text-align:justify; margin-top:0px;">Should you have any question or be interested to join us, please send an email to <q>toast.lab <<i>the-at-sign</i>> outlook.com</q> or Dr. Chundong Wang (<q>cd_wang <<i>the-at-sign</i>> outlook.com</q>).</p>
</div>

<div class="permlinks">
<h2>Recent Posts</h2>
<dl>
	{% for post in site.posts limit:3 %}
	<dt><code>{{ post.date | date_to_string }} </code><i class="fas fa-angle-double-right" aria-hidden="true"></i><a href="{{ post.url }}">{{ post.title }}</a> &nbsp;{% include status-indicator.html status=post.status%}
	{% if post.description %}
 <dd style="text-align: justify">{{ post.description | markdownify }}
    </dd>
	{% endif %}
	{% endfor %}
	<p>... <a href="/blog">Full Posts List</a> </p>
</dl>
<!--
<h2>Upcoming Posts (edit me at /index.html )</h2>
<ul>
	<li>Post 1</li>
	<li>Post 2</li>
</ul>
-->

</div >
