<a class="sidebar-nav-item" href="{{site.url}}{{site.baseurl}}/">Home</a>
<a class="sidebar-nav-item" href="{{site.url}}{{site.baseurl}}/blog" >Posts</a>
<a class="sidebar-nav-item" href="{{site.url}}{{site.baseurl}}/research" >Preferences</a>
<a class="sidebar-nav-item" href="{{site.url}}{{site.baseurl}}/publications" >Publications</a>
<a class="sidebar-nav-item" href="{{site.url}}{{site.baseurl}}/people" >People</a>
<a class="sidebar-nav-item" href="{{site.url}}{{site.baseurl}}/vacancies" >Positions</a>
<!--{% if site.github_username %}
<a class="sidebar-nav-item" href="https://github.com/{{site.github_username}}" target="_blank">
GitHub</i>
</a>
{% endif %}
-->
