 
/* start css.sty */
.cmr-7{font-size:70%;}
.LinLibertineT-tlf-t1-{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-80{font-size:80%; font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-80{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-80{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-80{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-80{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-80{ font-family: 'Linux Libertine T', serif;}
.cmr-8{font-size:80%;}
.cmr-6{font-size:60%;}
.ntxsy-7x-x-80{font-size:80%;}
.LinBiolinumTB-tlf-t1-x-x-207{font-size:207%; font-weight: bold; font-family: 'Linux Biolinum T', serif;}
.LinLibertineT-tlf-t1-x-x-144{font-size:144%; font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-144{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-144{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-144{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-144{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-144{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-109{font-size:109%; font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-109{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-109{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-109{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-109{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-109{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-70{font-size:70%; font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-70{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-70{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-70{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-70{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-70{ font-family: 'Linux Libertine T', serif;}
.LinLibertineTB-tlf-t1-{ font-weight: bold; font-family: 'Linux Libertine T', serif;}
.LinLibertineTB-tlf-t1-{ font-weight: bold; font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-ts1-{ font-family: 'Linux Libertine T', serif;}
.nxlmi-7x-x-73{font-size:73%;}
.ntxsy-7x-x-73{font-size:73%;}
.LinLibertineTI-tlf-t1-{ font-style: italic; font-family: 'Linux Libertine T', serif;}
.LinLibertineTI-tlf-t1-{ font-style: italic; font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-90{font-size:90%; font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-90{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-90{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-90{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-90{ font-family: 'Linux Libertine T', serif;}
.LinLibertineT-tlf-t1-x-x-90{ font-family: 'Linux Libertine T', serif;}
.LinLibertineTB-tlf-t1-x-x-90{font-size:90%; font-weight: bold; font-family: 'Linux Libertine T', serif;}
.LinLibertineTB-tlf-t1-x-x-90{ font-weight: bold; font-family: 'Linux Libertine T', serif;}
.t1-zi4r-4-x-x-90{font-size:90%;}
.LinLibertineTI-tlf-t1-x-x-80{font-size:80%; font-style: italic; font-family: 'Linux Libertine T', serif;}
.LinLibertineTI-tlf-t1-x-x-80{ font-style: italic; font-family: 'Linux Libertine T', serif;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
@media print {div.crosslinks {visibility:hidden;}}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
div.verbatim {font-family: monospace,monospace; white-space: nowrap; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
table.tabular{border-collapse: collapse; border-spacing: 0;}
img.cdots{vertical-align:middle;}
span.footnote-mark{ vertical-align: super; font-size:80%; }
div.submaketitle{ text-align:left; margin-top:2em; border-top: 1px solid black; border-bottom: 1px solid black; margin-left:5%; margin-right:5%; font-size:85%; line-height: 95%;}
div.submaketitle div {margin-top:0.5em; margin-bottom:0.5em; }
div.submaketitle p { margin-top:0em; margin-bottom:0em; }
div.abstract{ margin-top: 2em; text-align:left; margin-right:15pt; margin-left:15pt; }
div.addresses p {margin-top:0em; margin-bottom:0em; }
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; text-align:center; }
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.qed {width:2ex; float:right; text-align:right;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
div.translators {text-align:right; margin-bottom:0.7em;}
.sectionHead{text-align:center;}
figure.float, div.figure {margin-left: auto; margin-right: auto;}
figure.float img {text-align:center;}
figure.figure img {text-align:center;}
figure.figure > p {text-align:center;}
figcaption.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center;}
figcaption.caption span.id{font-weight: bold; white-space: nowrap; }
.equation td{text-align:center; }
.equation-star td{text-align:center; }
table.equation-star { width:100%; }
table.equation { width:100%; }
table.align, table.alignat, table.xalignat, table.xxalignat, table.flalign {width:95%; margin-left:5%; white-space: nowrap;}
table.align-star, table.alignat-star, table.xalignat-star, table.flalign-star {margin-left:auto; margin-right:auto; white-space: nowrap;}
td.align-label { width:5%; text-align:center; }
td.align-odd { text-align:right; padding-right:0.3em;}
td.align-even { text-align:left; padding-right:0.6em;}
table.multline, table.multline-star {width:100%;}
td.gather {text-align:center; }
table.gather {width:100%;}
div.gather-star {text-align:center;}
.rotatebox{display: inline-block;}
.figure img.graphics {margin-left:10%;}
div.algorithm table.caption { border-bottom: 1px solid black; margin-bottom:1pt; }
div.algorithmic span.algorithmic{white-space:pre}
.lstlisting .label{margin-right:0.5em; }
div.lstlisting{font-family: monospace,monospace; white-space: nowrap; margin-top:0.5em; margin-bottom:0.5em; }
div.lstinputlisting{ font-family: monospace,monospace; white-space: nowrap; }
.lstinputlisting .label{margin-right:0.5em;}
dd.enumerate {margin-left: 2em;}
dt.enumerate {float:left; clear:left; margin-right:0.5em; margin-left:0.5em; text-align:right; }
dt.enumerate-enumitem{float:left; clear:left; margin-left:1em; margin-right:1em;}
#TBL-1 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-1{border-collapse:collapse;}
#TBL-1 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-1{border-collapse:collapse;}
#TBL-1 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-1{border-collapse:collapse;}
#TBL-1 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-1{border-collapse:collapse;}
td#TBL-1-1-2{border-right:solid black 0.4pt;}
td#TBL-1-1-3{border-right:solid black 0.4pt;}
#TBL-2 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-2{border-collapse:collapse;}
#TBL-2 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-2{border-collapse:collapse;}
#TBL-2 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-2{border-collapse:collapse;}
#TBL-2 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-2{border-collapse:collapse;}
#TBL-2 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-2{border-collapse:collapse;}
#TBL-2 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-2{border-collapse:collapse;}
td#TBL-2-1-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
#TBL-3 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-3{border-collapse:collapse;}
td#TBL-3-1-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-3-1-3{border-right:solid black 0.4pt;}
td#TBL-3-1-5{border-right:solid black 0.4pt;}
td#TBL-3-2-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
td#TBL-3-3-1{border-left:solid black 0.4pt;border-right:solid black 0.4pt;}
#TBL-4 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-4{border-collapse:collapse;}
#TBL-4 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-4{border-collapse:collapse;}
#TBL-4 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-4{border-collapse:collapse;}
#TBL-4 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-4{border-collapse:collapse;}
#TBL-4 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-4{border-collapse:collapse;}
#TBL-4 colgroup{border-left: 1px solid black;border-right:1px solid black;}
#TBL-4{border-collapse:collapse;}
/* end css.sty */

