---
layout: info
title: Category Index
---

<h4>Posts are indexed with following categories. Click <a href="{{site.url}}{{site.baseurl}}/blog"><font color="red">here</font></a> to jump back to the post list in the reverse chronological order.</h4>
<div class="container">
  <h3>Categories</h3>
	{% assign categories = site.categories | sort %}
	{% for category in categories %}
		<span class="site-tag">
			<a href="{{site.url}}{{site.baseurl}}/blog/categories#{{ category [0] | slugify }}" style="text-decoration: none;" >
				 <code class="highligher-rouge" style="font-size: {{ category | last | size  |  times: 2 | plus: 80  }}%">
					<nobr>{{ category[0] | replace:'-', ' ' }} ({{ category | last | size }})</nobr>
				 </code>
			</a> &nbsp;
		</span>
	{% endfor %}
	
	<hr>
  {% for category in site.categories %}
  <h2 id="{{ category[0] | slugify }}">{{ category[0] | replace:'-', ' ' }}</h2>
  <dl class="tags-expo-posts">
    {% for post in category[1] %}
    <dt>
      <code>{{ post.date | date_to_string }}</code> 
				<i class="fas fa-angle-double-right"></i> 
					<a href="{{ post.url }}">{{ post.title }}</a>
					&nbsp;{% include status-indicator.html status=post.status%}
    </dt>
    {% if post.description %}
    <dd style="text-align: justify">{{ post.description | markdownify }}
    </dd>
		{% endif %}
		{% endfor %}
  </dl>
	{% endfor %}

</div>
